apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: ludocloud-backend-hpa
  namespace: ludocloud
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: ludocloud-backend
  minReplicas: 2
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70