apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ludocloud-ingress
  namespace: ludocloud
spec:
  ingressClassName: traefik
  rules:
    - host: localhost
      http:
        paths:
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: ludocloud-backend
                port:
                  number: 3000
          - path: /
            pathType: Prefix
            backend:
              service:
                name: ludocloud-frontend
                port:
                  number: 80
